{{ define "notifications" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | Notifications</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 mt-2 mb-4 container">
      <section class="card outlined flex flex-col gap-2">
        <div>
          <h1 class="text-lg font-extrabold">Notifications</h1>
          <p class="text-muted">
            Your pending transactions from customers at all of your banks will appear here for you
            to approve or deny them.
          </p>
        </div>
        <div id="notifications" hx-get="/notifications/pending" hx-trigger="load, every 30s"></div>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
