{{ define "announcement" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | {{ .Announcement.Title }}</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 mt-2 mb-4 container">
      <section class="card outlined flex flex-col">
        <div>
          <h1 class="font-extrabold text-2xl">{{ .Announcement.Title }}</h1>
          <div class="text-gray-600 text-sm">On {{ datetime .Announcement.CreatedAt }}</div>
        </div>
        <article class="announcement">
          {{ html .Announcement.HTML }} {{ if .CurrentUser.IsAdmin }}
          <div class="mt-4">
            <a href="/control-panel/announcements/{{.Announcement.ID}}" class="link">
              Edit Announcement
            </a>
          </div>
          {{ end }}
        </article>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
