{{ define "announcements_dashboard" }}
<!DOCTYPE html>
<html lang="en" theme="{{.Theme}}">
  <head>
    <title>Fun Banking | Announcements</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 mt-2 mb-4 container">
      <section class="card outlined flex flex-col gap-4">
        <div>
          <h1 class="font-extrabold">Announcements</h1>
          <div class="text-muted">
            Announcements are similar to blogs. They are not high priority, but they are useful for
            informing users of updates or general knowledge sharing.
          </div>
        </div>
        <div id="announcement-form">{{ template "announcement_form" .Form }}</div>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
