{{ define "edit_announcement_form" }}
<form
  hx-patch="/control-panel/announcements/{{.Data.id}}"
  hx-swap="outerHTML"
  hx-disabled-elt="input, textarea, button"
  class="flex flex-col gap-2"
>
  {{ if .Errors.general }}
  <div class="alert-banner danger">{{.Errors.general}}</div>
  {{ else if .Data.success }}
  <div class="alert-banner success">{{.Data.success}}</div>
  {{ end }}
  <div class="flex flex-col w-full">
    <label for="title">Title</label>
    <input
      id="title"
      name="title"
      type="text"
      autocomplete="off"
      value="{{ .Data.title }}"
      required
    />
  </div>
  <div class="flex flex-col w-full">
    <label for="description">Description</label>
    <textarea id="description" name="description" class="min-h-72 p-5" required>
{{ .Data.description }}</textarea
    >
  </div>
  <input type="hidden" name="id" value="{{ .Data.id }}" />
  <div class="mt-2">
    <button type="submit" class="bg-emerald-700 hover:bg-emerald-800">
      <span class="htmx-toggle">Update Announcement</span>
      <span class="htmx-indicator">Updating Announcement...</span>
    </button>
    <button type="reset">Cancel</button>
  </div>
</form>
{{ end }}
