<!DOCTYPE html>
<html lang="en" theme="{{.Theme}}">
  <head>
    <title>Fun Banking | {{ .Account.Name }} Auto Pay</title>
    <meta name="description" content="Fun Banking - Setup Auto Pay or Withdrawals" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 container mt-2 mb-4">
      <section class="card outlined flex flex-col gap-2">
        <div>
          <p class="font-bold eyebrow">
            {{ .Account.Customer.FullName }}
            <span class="text-gray-800">/</span>
            <span id="account-name">{{ .Account.Name }}</span>
            <span class="text-gray-800">/</span>
            <span>Auto Pay</span>
          </p>
        </div>
        <div>
          All Auto Payments will occur at 12:00 AM UTC on the cadence specified during creation.
        </div>
        <ul class="flex flex-wrap gap-2 items-center text-sm">
          <li>
            <a class="flex items-center gap-1 link-hover" href="/accounts/{{.Account.ID}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <div class="font-semibold">Back to Account</div>
            </a>
          </li>
        </ul>
      </section>
      <section class="card outlined flex flex-col gap-4">
        <div class="flex items-center justify-between">
          <h1 class="text-lg font-extrabold">Auto Payments</h1>
          <button
            hx-post="/accounts/{{ .Account.ID }}/auto-pay"
            hx-target="body"
            hx-swap="beforeend"
            class="px-3 py-1.5 text-sm btn-primary"
          >
            Create a Rule
          </button>
        </div>
        {{ template "auto_pay_oob.html" . }}
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
