{{ define "account_settings_form" }}
<form
  hx-patch="/accounts/{{.Account.ID}}"
  hx-swap="outerHTML"
  hx-disabled-elt="button, input, textarea"
>
  {{ if .Form.Errors.general }}
  <div class="alert-banner bg-warning">{{ .Form.Errors.general }}</div>
  {{ end }}
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      autocomplete="off"
      placeholder="Name"
      required
      value="{{ .Form.Data.name }}"
      maxlength="25"
      autofocus
    />
  </div>
  <div class="actions">
    <button type="submit" class="bg-emerald-700 hover:bg-emerald-800">
      <div class="htmx-toggle">Update</div>
      <div class="htmx-indicator text-gray-600">Updating...</div>
    </button>
    <button type="reset" onclick="closeModal()">Cancel</button>
  </div>
</form>
{{ end }}
