{{ define "transactions" }}
<table class="w-full table-auto overflow-hidden">
  <thead>
    <tr>
      <th class="p-2 text-left">Description</th>
      <th class="p-2 text-right"></th>
    </tr>
  </thead>
  <tbody>
    {{ if gt (len .PagingInfo.Items ) 0 }} {{ range .PagingInfo.Items }}
    <tr class="hover:cursor-default {{ if .IsDeclined }} line-through {{ end }}">
      <td class="text-left py-1.5 px-2">
        {{ if .IsPending }}
        <div class="text-muted">Processing waiting approval...</div>
        {{ end }}
        <div>{{ .Description }}</div>
        <div class="text-xs text-muted">{{ datetime .UpdatedAt }}</div>
      </td>
      <td class="text-right px-2">
        <div class="font-extrabold">
          {{ if .IsPending }}
          <span class="text-gray-700">{{ currency .Amount }}</span>
          {{ else if gt .Amount 0.0 }}
          <span class="text-emerald-700">{{ currency .Amount }}</span>
          {{ else }}
          <span class="text-red-700">{{ currency (mulfloat .Amount -1) }}</span>
          {{ end }}
        </div>
        <div class="text-sm text-muted">{{ currency .Balance }}</div>
      </td>
    </tr>
    {{ end }} {{ else }}
    <tr>
      <td colspan="2" class="text-left py-1.5 px-2 text-base text-muted">
        You don't have any transactions yet.
      </td>
    </tr>
    {{ end }}
  </tbody>
  <caption class="sr-only">
    List of transactions belonging to this account
  </caption>
</table>
{{ if gt (len .PagingInfo.Items) 0 }}
<div class="text-sm mt-4">
  Displaying
  <strong> {{ .PagingInfo.DisplayRange }} </strong>
  of <strong>{{ .PagingInfo.TotalItems }}</strong> transactions
</div>
{{ end }}
<div class="mt-4 pagination">
  {{ if .PagingInfo.HasPreviousPage }}
  <button
    hx-get="/accounts/{{.AccountID}}/transactions?page={{sub .PagingInfo.PageNumber 1}}"
    hx-target="#transactions-list"
  >
    Previous
  </button>
  {{ end }} {{ if .PagingInfo.HasNextPage }}
  <button
    hx-get="/accounts/{{.AccountID}}/transactions?page={{add .PagingInfo.PageNumber 1}}"
    hx-target="#transactions-list"
  >
    Next
  </button>
  {{ end }}
</div>
{{ end }}
