{{ define "create_customer_form" }}
<form hx-put="/customers" hx-disabled-elt="button, input, textarea" class="flex flex-col gap-2">
  {{ if .Form.Errors.general }}
  <div class="alert-banner bg-warning mb-2">{{ .Form.Errors.general }}</div>
  {{ end }} {{ if .Form.Data.success }}
  <div class="alert-banner bg-success mb-2">{{ .Form.Data.success }}</div>
  {{ end }}
  <div class="flex flex-col gap-1">
    <label for="first_name">First name</label>
    <input
      id="first_name"
      name="first_name"
      type="text"
      autocomplete="off"
      placeholder="First name"
      required
      value="{{ .Form.Data.first_name }}"
      autofocus
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="first_name">Last name</label>
    <input
      id="last_name"
      name="last_name"
      type="text"
      autocomplete="off"
      placeholder="Last name"
      required
      value="{{ .Form.Data.last_name }}"
      autofocus
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="first_name">PIN</label>
    <input
      id="pin"
      name="pin"
      type="text"
      autocomplete="off"
      placeholder="PIN"
      required
      autofocus
    />
    {{ if .Form.Errors.pin }}
    <div class="error-message">{{ .Form.Errors.pin }}</div>
    {{ end }}
  </div>
  <input type="hidden" name="bank_id" value="{{ .Form.Data.bank_id }}" />
  <div class="flex gap-2 mt-2">
    <button
      id="submit"
      class="bg-emerald-700 font-extrabold text-white hover:bg-emerald-800 disabled:bg-gray-200"
      type="submit"
    >
      <div class="htmx-toggle">Create Customer</div>
      <div class="htmx-indicator text-gray-600">Creating...</div>
    </button>
    <button class="ghost" type="reset" onclick="closeModal()">Cancel</button>
  </div>
</form>
{{ end }}
