{{ define "customers" }}
<table class="w-full table-auto overflow-hidden">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-right">Total Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left">
        <div class="font-semibold">Marcello Sabino</div>
        <div class="text-xs text-gray-600">PIN-1234</div>
      </td>
      <td class="text-right">$0.00</td>
    </tr>
    <tr>
      <td class="text-left">
        <div class="font-semibold">Marcello Sabino</div>
        <div class="text-xs text-gray-600">PIN-1234</div>
      </td>
      <td class="text-right">$0.00</td>
    </tr>
    <tr>
      <td class="text-left">
        <div class="font-semibold">Marcello Sabino</div>
        <div class="text-xs text-gray-600">PIN-1234</div>
      </td>
      <td class="text-right">$0.00</td>
    </tr>
    <tr>
      <td class="text-left">
        <div class="font-semibold">Marcello Sabino</div>
        <div class="text-xs text-gray-600">PIN-1234</div>
      </td>
      <td class="text-right">$0.00</td>
    </tr>
  </tbody>
  <caption class="sr-only">
    List of customers belonging to the bank
  </caption>
</table>
{{ end }}
