{{ define "customers" }}
<table class="w-full table-auto overflow-hidden">
  <thead class="border-b-2 border-black">
    <tr>
      <th class="p-2 text-left">Customer</th>
      <th class="p-2 text-right">Total Balance</th>
    </tr>
  </thead>
  <tbody>
    {{ if gt (len .Bank.Customers) 0 }} {{ range .Bank.Customers }}
    <tr
      hx-get="/customers/modal-customer?customer_id={{.ID}}"
      hx-target="body"
      hx-swap="beforeend"
      class="border-b hover:bg-ghost/30 hover:cursor-pointer"
    >
      <td class="text-left py-1.5 px-2">
        <div class="font-semibold">{{ .FirstName }} {{ .LastName}}</div>
        <div class="text-xs text-gray-600">PIN-{{ .PIN }}</div>
      </td>
      <td class="text-right px-2">$10,000,000.00</td>
    </tr>
    {{ end }} {{ else }}
    <tr class="border-b" colspan="2">
      <td class="text-left py-1.5 px-2 text-gray-600">You don't have any customers yet.</td>
    </tr>
    {{ end }}
  </tbody>
  <caption class="sr-only">
    List of customers belonging to the bank
  </caption>
</table>
{{ end }}
