{{ define "customer_settings" }}
<section class="wrapper">
  <header>
    <h1>Update {{ .Customer.FullName }}</h1>
    <p class="text-muted">
      You can update certain things about your customer. Like their name and PIN.
    </p>
  </header>
  <div id="customer-settings-form">{{ template "customer_settings_form" . }}</div>
  <div class="danger bg-danger/50 pill">
    <h2 class="font-semibold">Danger Zone</h2>
    <p class="text-sm">
      Anything you do in this section will be permanent. We hope you're sure about this.
    </p>
    <button
      hx-target="#customer-settings-form"
      hx-swap="innerHTML"
      hx-delete="/customers/{{.Customer.ID}}"
      hx-confirm="Are you sure you want to delete this customer and all of their data?"
      class="bg-red-500 hover:bg-red-600 font-bold text-white text-sm px-4 py-2 mt-4 rounded-[20px]"
    >
      Permanently Delete {{ titleize .Customer.FirstName }}
    </button>
  </div>
</section>
{{ end }}
