{{ define "control_panel_polls" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | Polls</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 mt-2 mb-4 container">
      <section class="card outlined flex flex-col gap-4">
        <div>
          <h1 class="font-extrabold">Polls</h1>
          <div class="text-muted">This will be coming soon.</div>
        </div>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
