{{ define "control_panel_user_form" }}
<form>
  <div>
    <label for="role">User Role</label>
    <select id="role" name="role">
      <option value="FREE" {{ if .User.IsFree }} selected {{ end }}>Free</option>
      <option value="PREMIUM" {{ if eq .User.Role "PREMIUM" }} selected {{ end }}>Premium</option>
      <option value="ADMIN" {{ if .User.IsAdmin }} selected {{ end }}>Admin</option>
    </select>
  </div>
  <div>
    <label for="verified">Verified</label>
    <input id="verified" name="verified" type="checkbox" {{ if .User.Verified }} checked {{ end }} />
  </div>
  <div>
    <label for="image_url">Image URL</label>
    <input id="image_url" name="image_url" type="text" value="{{ .User.ImageURL }}" />
    <span class="text-xs text-muted break-all">https://static.vecteezy.com/system/resources/previews/009/292/244/large_2x/default-avatar-icon-of-social-media-user-vector.jpg</span>
  </div>
  <div class="actions">
    <button class="bg-emerald-700 hover:bg-emerald-800" type="submit">Update User</button>
  </div>
</form>
{{ end }}
