{{ define "control_panel_user_modal" }}
<section class="wrapper">
  <header>
    <h1>Manage {{ .User.FullName }}</h1>
    <p class="text-muted">
      You can manage this user however you need to. Admins will not be able to update user
      information like names, however.
    </p>
  </header>
  <div id="update-user-form">{{ template "control_panel_user_form" . }}</div>
  <div id="bank-list">
    <strong>Banks</strong>
    {{ if gt (len .User.Banks) 0 }}
    <table>
      <tbody>
        {{ range .User.Banks }}
        <tr>
          <td><a class="link" href="/banks/{{ .ID }}">{{ .Name }}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ else }}
    <div class="text-sm text-gray-600">This user has no banks</div>
    {{ end }}
  </div>
</section>
{{ end }}
