:root {
  --color-default: #222;
  --color-info: hsl(120, 20%, 88%);
  --color-warning: hsl(9, 69%, 88%);
  --color-success: hsl(133, 75%, 88%);
  --color-danger: hsl(0, 100%, 90%);
  --color-danger-dark: hsl(0, 100%, 37%);
  --color-ghost: hsl(120, 20%, 88%);
  --color-ghost-darker: hsl(120, 20%, 83%);
  --color-bg: hsl(120, 20%, 96%);
  --color-link: hsl(120, 20%, 25%);
  --color-outline: hsl(120, 20%, 75%);
  --pill-rounded: 20px;
  --pill-padding: 10px 20px;
  --card-padding: 20px;
}

textarea:disabled,
button:disabled,
input:disabled {
  cursor: not-allowed;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-default);
  background: var(--color-bg);
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
}

nav {
  background: var(--color-bg);
}

body footer {
  color: hsl(120, 20%, 25%);
  margin-top: auto;
  border-top: 1px solid hsl(120, 20%, 85%);
  background: hsl(120, 20%, 90%);
}

button.link,
a.link {
  color: var(--color-link);
  text-decoration: underline;
}

a,
button,
input,
textarea,
select {
  outline-color: var(--color-outline);
}

input[type="search"] {
  outline-color: #ffffff00;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
}

textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="email"] {
  border-width: 1px;
  padding: 8px 15px;
  border-radius: var(--pill-rounded);
  width: 100%;
}

button[type="submit"] {
  font-weight: 900;
  color: white;
}

button[type="submit"]:disabled {
  background: #ddd;
}

button[type="reset"]:hover {
  background: var(--color-ghost);
}

form select {
  border-width: 1px;
  padding: 10px;
  border-radius: var(--pill-rounded);
  width: 100%;
}

button[type="submit"],
button[type="reset"] {
  border-radius: var(--pill-rounded);
  padding: 8px 16px;
}

form .error-message {
  color: var(--color-danger-dark);
  margin-top: 4px;
  font-size: 0.9rem;
}

.htmx-indicator {
  display: none;
}

.htmx-toggle {
  display: block;
}

.htmx-request .htmx-toggle {
  display: none;
}

.htmx-request .htmx-indicator {
  display: block;
}

.text-muted {
  color: #5d5d5d;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/** Transitions */
a,
details summary,
button {
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
  cursor: pointer;
}

/** Utilities */
.pill {
  padding: var(--pill-padding);
  border-radius: var(--pill-rounded);
}

.ghost:hover {
  background: var(--color-ghost);
}

/* Custom Components */
.alert-banner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: var(--pill-padding);
  border-radius: var(--pill-rounded);
  font-size: 0.9rem;
}

.card {
  padding: var(--card-padding);
  border-radius: var(--pill-rounded);
}

.card.filled {
  background: var(--color-ghost);
}

.card.outlined {
  background: white;
  border-width: 1px;
}

.app-drawer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  /* Animate when opening */
  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.app-drawer > .underlay {
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.app-drawer > .content {
  position: absolute;
  left: 0;
  width: 400px;
  max-width: 80%;
  height: 100dvh;
  background: white;
  animation-name: slideIn;
  animation-duration: 250ms;
  animation-timing-function: ease;
  padding: 16px;
}

.app-drawer.closing {
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.app-drawer.closing > .content {
  animation-name: slideOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.modal {
  /* Underlay covers entire screen. */
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  /* Flexbox centers the .modal-content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Animate when opening */
  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.modal section.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal section header h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 900;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal form label {
  display: block;
  margin-bottom: 2px;
}

.modal form .actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.modal .alert-banner {
  margin-bottom: 8px;
}

.modal > .modal-underlay {
  /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.modal > .modal-content {
  /* Sizing for visible dialog */
  max-width: 600px;

  /* Display properties for visible dialog*/
  background-color: white;

  /* Animate when opening */
  animation-name: zoomIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.modal.closing {
  /* Animate when closing */
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

.modal.closing > .modal-content {
  /* Animate when closing */
  animation-name: zoomOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

#app-drawer ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#app-drawer ul li a {
  display: block;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 500;
}

#app-drawer ul li a:hover {
  background: hsl(120, 20%, 95%);
}

#app-drawer ul li a.active {
  background: var(--color-ghost);
}

#app-drawer ul li a.active:hover {
  background: hsl(120, 20%, 83%);
}

#app-drawer ul li details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 500;
}

#app-drawer ul li details > summary:after {
  content: "▼";
}

#app-drawer ul li details[open] > summary:after {
  content: "▲";
}

#app-drawer ul li details[open] summary {
  background: hsl(120, 20%, 95%);
}

#app-drawer ul li details summary:hover {
  background: hsl(120, 20%, 95%);
}

#app-drawer ul li details ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0 0 24px;
}

article.announcement h1,
article.announcement h2,
article.announcement h3 {
  font-weight: 900;
}

article.announcement h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

article.announcement h2 {
  font-size: 1.15rem;
  line-height: 1.4rem;
}

article.announcement p {
  margin: 4px 0;
}

article.announcement a {
  text-decoration: underline;
  color: var(--color-link);
}

article.announcement blockquote {
  border-left: 8px solid var(--color-outline);
  padding: 4px 12px;
  background: var(--color-bg);
  margin: 8px 0;
}

article.announcement ol,
article.announcement ul {
  margin-left: 12px;
}

article.announcement ol li,
article.announcement ul li {
  margin-left: 6px;
  list-style-type: disc;
}

table tr.selected {
  background: var(--color-ghost);
}

table tr.selected:hover {
  background: var(--color-ghost-darker);
}
