:root {
  --color-default: #222;
  --color-info: hsl(120, 20%, 88%);
  --color-warning: hsl(9, 69%, 88%);
  --color-success: hsl(133, 75%, 88%);
  --color-danger: hsl(0, 100%, 90%);
  --color-danger-dark: hsl(0, 100%, 37%);
  --color-ghost: hsl(120, 20%, 88%);
  --color-bg: hsl(120, 20%, 93%);
  --color-link: hsl(120, 20%, 25%);
  --color-outline: hsl(120, 20%, 75%);
  --pill-rounded: 20px;
  --pill-padding: 10px 20px;
  --card-padding: 20px;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-default);
  background: var(--color-bg);
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
}

nav {
  background: var(--color-bg);
}

footer {
  color: hsl(120, 20%, 25%);
  margin-top: auto;
  border-top: 1px solid hsl(120, 20%, 85%);
  background: hsl(120, 20%, 90%);
}

button.link,
a.link {
  color: var(--color-link);
  text-decoration: underline;
}

a,
button,
input,
textarea,
select {
  outline-color: var(--color-outline);
}

label {
  font-size: 0.9rem;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-width: 1px;
  padding: 8px 20px;
  border-radius: var(--pill-rounded);
  width: 100%;
}

button[type="submit"],
button[type="reset"] {
  border-radius: var(--pill-rounded);
  padding: 8px 16px;
}

form .error-message {
  color: var(--color-danger-dark);
  margin-top: 4px;
  font-size: 0.9rem;
}

.htmx-indicator {
  display: none;
}

.htmx-toggle {
  display: block;
}

.htmx-request .htmx-toggle {
  display: none;
}

.htmx-request .htmx-indicator {
  display: block;
}

/** Transitions */
a,
button {
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
  cursor: pointer;
}

/** Utilities */
.pill {
  padding: var(--pill-padding);
  border-radius: var(--pill-rounded);
}

.ghost:hover {
  background: var(--color-ghost);
}

/* Custom Components */
.alert-banner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: var(--pill-padding);
  border-radius: var(--pill-rounded);
  font-size: 0.9rem;
}

.card {
  padding: var(--card-padding);
  border-radius: var(--pill-rounded);
}

.card.filled {
  background: var(--color-ghost);
}

.card.outlined {
  background: white;
  border-width: 1px;
}
