<!DOCTYPE html>
<html lang="en" theme="{{.Theme}}">
  <head>
    <title>Fun Banking | Unlock Premium</title>
    <meta
      name="description"
      content="Unlock your premium banking simulating experience with Fun Banking Premium"
    />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="container flex flex-col gap-4 mb-4">
      <section class="card outlined premium flex flex-col items-center gap-2">
        <div class="text-center">
          <h1 class="text-2xl font-extrabold">Fun Banking Premium</h1>
          <div>Unlock the full potential of Fun Banking with Premium.</div>
        </div>
        <div class="flex flex-col gap-1 text-center">
          <a href="#" class="pill btn-premium px-4 py-2"> Unlock for $5.00/month* </a>
          <div class="text-muted text-xs">*plus applicable taxes</div>
        </div>
      </section>
      <section class="card outlined flex flex-col gap-2">
        <div class="flex flex-col">
          <h1 class="text-xl font-extrabold">Features</h1>
          <div class="text-muted">
            In addition, all future planned features will be included in Premium.
          </div>
        </div>
        <table class="premium">
          <thead>
            <tr>
              <th class="text-left p-2">Feature</th>
              <th class="p-2">Free</th>
              <th class="p-2">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-2">Banks</td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="p-2">Customers</td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="p-2">Transactions</td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="p-2">Scheduled Transactions</td>
              <td class="premium"></td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="p-2">Shops</td>
              <td class="premium"></td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td class="p-2">Premium Themes</td>
              <td class="premium"></td>
              <td class="premium">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6 mx-auto"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="mx-auto my-4">
        <a href="#" class="pill btn-premium px-4 py-3"> Get Premium Today </a>
      </section>
      <div id="paypal-button-container-{{.PremiumPlanID}}"></div>
      <script
        src="https://www.paypal.com/sdk/js?client-id={{.PayPalClientID}}&vault=true&intent=subscription&disable-funding=paylater"
        data-sdk-integration-source="button-factory"
      ></script>
      <script>
        paypal
          .Buttons({
            style: { shape: "pill", color: "gold", layout: "vertical" },
            createSubscription: function (data, actions) {
              return actions.subscription.create({
                plan_id: "{{.PremiumPlanID}}",
                custom_id: "{{.CurrentUserID}}",
              });
            },
            onApprove: function (data, actions) {
              alert(data.subscriptionID); // You can add optional success message for the subscriber here
            },
          })
          .render("#paypal-button-container-{{.PremiumPlanID}}"); // Renders the PayPal button
      </script>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
