{{ define "bank" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | {{ .Bank.Name }}</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 container mt-2 mb-4">
      <div class="alert-banner bg-danger justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="shrink-0 size-5"
          viewBox="0 0 16 16"
        >
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
          />
        </svg>
        Copy the link in your address bar to share with your customers, so that they can sign in.
      </div>
      <section class="card outlined flex flex-col gap-2">
        <div>
          <p class="font-bold text-emerald-700">
            {{ .Bank.User.Username }} <span class="text-gray-800">/</span> {{ .Bank.Slug }}
          </p>
          <h1 class="font-extrabold text-2xl leading-1">{{ .Bank.Name }}</h1>
        </div>
        <p>{{ .Bank.Description }}</p>
        <div>
          <ul class="flex gap-2 items-center text-sm">
            <li class="flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="size-4"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"
                />
              </svg>
              <div id="number-of-customers">{{ template "number_of_customers" . }}</div>
            </li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col gap-4 card outlined">
        <div class="flex items-center justify-between">
          <h1 class="font-extrabold">Customers</h1>
          <button
            hx-get="/customers/modal-create?bank_id={{ .Bank.ID }}"
            hx-target="body"
            hx-swap="beforeend"
            class="px-3 py-1.5 text-sm bg-emerald-700 font-bold text-white hover:bg-emerald-800 rounded-[20px]"
          >
            Create a Customer
          </button>
        </div>
        <div id="customers-table">
          {{ template "customers" . }}
        </div>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}

{{ define "customers_oob" }}
<div id="customers-table" hx-swap-oob="true">{{ template "customers" . }}</div>
<div id="number-of-customers" hx-swap-oob="true">{{ template "number_of_customers" . }}</div>
{{ end }} {{ define "number_of_customers" }}
<span class="font-extrabold">
  {{ if eq (len .Bank.Customers) 1 }}
  {{ len .Bank.Customers }}</span> customer
  {{ else }}
  {{ len .Bank.Customers }}</span> customers
  {{ end }}
{{ end }}
