{{ define "bank" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | {{ .Bank.Name }}</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col gap-4 container mt-2 mb-4">
      <div class="alert-banner bg-info justify-center">
        🚀 Copy the link in your address bar to share the link with your customers.
      </div>
      <section class="card outlined flex flex-col gap-2">
        <div>
          <p class="font-bold text-emerald-700">
            {{ .Bank.User.Username }} <span class="text-gray-800">/</span> {{ .Bank.Slug }}
          </p>
          <h1 class="font-extrabold text-2xl leading-1">{{ .Bank.Name }}</h1>
        </div>
        <p>{{ .Bank.Description }}</p>
        <div>
          <ul class="flex gap-2 items-center text-sm">
            <li class="flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="size-4"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
                />
                <path
                  d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"
                />
              </svg>
              <div><span class="font-extrabold">1</span> employee</div>
            </li>
            <li class="flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="size-4"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"
                />
              </svg>
              <div><span class="font-extrabold">10</span> customers</div>
            </li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col gap-4 card outlined">
        <div class="flex items-center justify-between">
          <h1 class="font-extrabold">Customers</h1>
          <button
            hx-get="customers/modal-create"
            hx-target="body"
            hx-swap="beforeend"
            class="px-3 py-1.5 text-sm bg-emerald-700 font-bold text-white hover:bg-emerald-800 rounded-[20px]"
          >
            Create a Customer
          </button>
        </div>
        {{ template "customers" . }}
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>

{{ end }}
