{{ define "customers" }} {{ if gt (len .Bank.Customers) 6 }}
<input
  hx-get="/banks/{{ .Bank.ID }}/customers-filter"
  hx-trigger="input changed delay:500ms, search"
  hx-target="#results"
  hx-swap="outerHTML"
  autocomplete="off"
  type="search"
  name="search"
  placeholder="Search..."
  class="mb-4"
/>
{{ end }} {{ if gt (len .Bank.Customers) 1 }}
<div>
  <div class="flex items-center gap-1">
    <label class="switch" for="bulk-transfer">
      <input
        id="bulk-transfer"
        name="bulk-transfer"
        type="checkbox"
        onclick="updateBulkTransferMode()"
      />
    </label>
    <label for="bulk-transfer">Bulk Transfer</label>
  </div>
  <button
    id="bulk-transfer-button"
    hx-get="/transactions/open-bulk-transfer"
    hx-swap="beforeend"
    hx-target="body"
    hx-vals='js:{"ids": selectedCustomerIds}'
    class="fixed bottom-5 right-5 bg-orange-200 pill px-5 py-2.5 shadow font-bold animate-bounce hidden"
  >
    Continue to Bulk Transfer
  </button>
</div>
{{ end }} {{template "customers_table" .Bank.Customers }} {{ end }} {{ define "customers_table" }}
<table id="results" class="w-full table-auto overflow-hidden">
  <thead class="border-b-2 border-black">
    <tr>
      <th class="p-2 text-left">Customer</th>
      <th class="p-2 text-right">Total Balance</th>
    </tr>
  </thead>
  <tbody>
    {{ if gt (len .) 0 }} {{ range . }}
    <tr
      id="customer-{{.ID}}"
      onclick="goToCustomer('{{.ID}}')"
      class="border-b hover:cursor-pointer"
    >
      <td class="text-left py-1.5 px-2">
        <div class="font-semibold">{{ .FullName }}</div>
        <div class="text-xs text-gray-600">PIN-{{ .PIN }}</div>
      </td>
      <td class="text-right px-2">{{ currency .NetWorth }}</td>
    </tr>
    {{ end }} {{ else }}
    <tr>
      <td colspan="2" class="text-left py-1.5 px-2 text-gray-600">
        You don't have any customers yet.
      </td>
    </tr>
    {{ end }}
  </tbody>
  <caption class="sr-only">
    List of customers belonging to the bank
  </caption>
</table>
{{ end }}
