{{ define "update_bank_form" }}
<form
  hx-patch="/banks"
  hx-swap="outerHTML"
  hx-disabled-elt="button, input, textarea"
  class="flex flex-col gap-2"
>
  {{ if .Form.Errors.general }}
  <div class="alert-banner bg-warning mb-2">{{ .Form.Errors.general }}</div>
  {{ end }}
  <div class="flex flex-col gap-1">
    <label for="name">Bank name</label>
    <input
      id="name"
      name="name"
      type="text"
      autocomplete="off"
      placeholder="Bank name"
      required
      value="{{ .Form.Data.name }}"
      autofocus
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      autocomplete="off"
      class="py-[16px] px-[20px] resize-none h-32"
      required
      placeholder="Description"
    >
{{ .Form.Data.description }}</textarea
    >
  </div>
  <input type="hidden" name="bank_id" value="{{ .Bank.ID }}" />
  <div class="flex gap-2 mt-2">
    <button
      id="submit"
      class="bg-emerald-700 font-extrabold text-white hover:bg-emerald-800 disabled:bg-gray-200"
      type="submit"
    >
      <div class="htmx-toggle">Update Bank</div>
      <div class="htmx-indicator text-gray-600">Updating...</div>
    </button>
    <button class="ghost" type="reset" onclick="closeModal()">Cancel</button>
  </div>
</form>
{{ end }}
