{{ define "forgot_password" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun Banking | Forgot Password</title>
    <meta name="description" content="Fun Banking - TODO" />
    {{ template "layout/head" . }}
  </head>
  <body>
    {{ template "layout/navbar" . }}
    <main class="flex flex-col items-center container mt-2 mb-4">
      <section class="card bg-white border max-w-xl w-full">
        <h1 class="font-extrabold text-xl">Forgot Password</h1>
        {{ template "forgot_password_form" .Form }}
        <div class="text-muted mt-4">
          If you are not getting any e-mails after checking your spam folder too. You can e-mail us
          at <a class="link" href="bytebury@gmail.com">bytebury@gmail.com</a> for help. Sometimes,
          companies will block our e-mails from going to certain mailboxes.
        </div>
      </section>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
