{{ define "forgot_password_form" }}
<form
  hx-post="/forgot"
  hx-swap="outerHTML"
  class="flex flex-col gap-4 mt-4"
  hx-disabled-elt="input, button"
>
  {{ if .Errors.general }}
  <div class="alert-banner danger mt-2">{{ .Errors.general }}</div>
  {{ end }} {{ if .Data.success }}
  <div class="alert-banner success mt-2">{{ .Data.success }}</div>
  {{ end }}
  <div>
    <label for="email">E-mail Address</label>
    <input id="email" type="email" name="email" placeholder="Enter your e-mail address" required />
  </div>
  <div>
    <button type="submit" class="bg-emerald-700 hover:bg-emerald-800">
      <div class="htmx-toggle">Reset Password</div>
      <div class="htmx-indicator">Sending E-mail...</div>
    </button>
  </div>
</form>
{{ end }}
