{{ define "reset_password_form" }}
<form
  hx-post="/reset-password"
  hx-swap="outerHTML"
  class="flex flex-col gap-4 mt-2"
  hx-disabled-elt="input, button"
>
  {{ if .Errors.general }}
  <div class="alert-banner danger mt-2">{{ .Errors.general }}</div>
  {{ end }} {{ if .Data.success }}
  <div class="alert-banner success mt-2">{{ .Data.success }}</div>
  {{ end }}
  <div class="flex flex-col gap-2">
    <div>
      <label for="password">New Password</label>
      <input id="password" type="password" name="password" placeholder="New Password" required />
    </div>
    <div>
      <label for="password_confirmation">Re-enter Password</label>
      <input
        id="password_confirmation"
        type="password"
        name="password_confirmation"
        placeholder="Confirm Password"
        required
      />
    </div>
  </div>
  <input type="hidden" name="token" value="{{ .Data.token }}" />
  <div>
    <button type="submit" class="btn-primary">
      <div class="htmx-toggle">Reset Password</div>
      <div class="htmx-indicator">Sending E-mail...</div>
    </button>
  </div>
</form>
{{ end }}
