{{ define "app_drawer" }}
<div id="app-drawer" class="app-drawer">
  <div class="underlay" onclick="closeAppDrawer()"></div>
  <aside class="flex flex-col gap-4 content">
    <h1 class="font-bold">Navigation</h1>
    <section class="flex items-center gap-2">
      <img class="border-2 rounded-full size-16 p-1" src="{{ .CurrentUser.ImageURL }}" alt="profile image" />
      <div class="flex flex-col">
        <h1 class="text-lg font-extrabold">{{ .CurrentUser.FullName }}</h1>
        <span class="text-sm text-gray-600 -mt-1">@{{ .CurrentUser.Username }}</span>
      </div>
    </section>
    <ul>
      {{ if .SignedIn }}
      <li><a href="/">Dashboard</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a hx-delete="/signout">Sign out</a></li>
      {{ else }}
      <li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/signin">Sign in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </li>
      {{ end }}
    </ul>
  </aside>
</div>
{{ end }}
