{{ define "layout/head" }}
<meta charset="utf-8" />
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
<link href="/static/styles.css" rel="stylesheet" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="/static/tailwind.config.js"></script>
<script
  src="https://unpkg.com/htmx.org@2.0.0"
  integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
  crossorigin="anonymous"
></script>
{{ end }}
