{{ define "modal" }}
<div id="modal" class="modal">
  <div class="modal-underlay" onclick="closeModal()"></div>
  <div class="modal-content card mt-12 mx-4">
    {{ if eq .ModalType "create_bank_modal" }} 
      {{ template "create_bank_modal" . }} 
    {{ end }} 
    {{ if eq .ModalType "create_customer_modal" }} 
      {{ template "create_customer_modal" . }} 
    {{ end }}
    {{ if eq .ModalType "update_bank_modal" }} 
      {{ template "update_bank_modal" . }} 
    {{ end }}
    {{ if eq .ModalType "customer_modal" }} 
      {{ template "customer_modal" . }} 
    {{ end }}
  </div>
</div>
{{ end }}
