{{ define "layout/navbar" }}
<nav hx-boost="true" class="flex grow fixed top-0 w-full h-[50px] z-50">
  <div class="container flex items-center justify-between">
    <h1 class="font-extrabold text-lg">
      <a class="ghost -ml-3 py-2 px-3 rounded-[20px]" href="/"> Fun Banking </a>
    </h1>
    <ul class="flex gap-2 last:-mr-3">
      <li>
        <button
          class="ghost py-2 px-3 rounded-[20px]"
          hx-get="/actions/open-app-drawer"
          hx-swap="beforeend"
          hx-target="body"
        >
          Open Drawer
        </button>
      </li>
    </ul>
  </div>
</nav>
{{ end }}
