{{ define "layout/scripts" }}
<script>
  document.body.addEventListener("htmx:beforeSwap", function (evt) {
    if (evt.detail.xhr.status === 401 || evt.detail.xhr.status === 422) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
</script>

<script>
  /** Closes the current modal on the screen */
  function closeModal(evt) {
    const modal = document.getElementById("modal");

    modal.classList.add("closing");

    modal.addEventListener("animationend", function handleAnimationEnd() {
      modal.classList.remove("closing");
      modal.remove();
      modal.removeEventListener("animationend", handleAnimationEnd);
    });
  }
</script>
{{ end }}
