{{ define "layout/scripts" }}
<script>
  document.body.addEventListener("htmx:beforeSwap", function (evt) {
    if (evt.detail.xhr.status === 401 || evt.detail.xhr.status === 422) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });

  // Include tokens when they are available
  document.body.addEventListener("htmx:configRequest", function (evt) {
    const token = localStorage.getItem("authToken");
    if (token) {
      event.detail.headers["Authorization"] = `Bearer ${token}`;
    }
  });

  // TODO - we need to figure out guards.
</script>
{{ end }}
